# ESP-IDF / CMake / VSCode / Python / Jupyter
build/
*.elf
*.bin
*.map
*.log
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo
*.swn
*.bak
*.tmp
*.zip
sdkconfig.old
sdkconfig
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.pro.user
*.pro.user.*
*.pro.user.*.bak
*.kicad_prl
*.kicad_sch-bak
*.kicad_pcb-bak
ESP32-ANalog-backups/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.ipynb_checkpoints/
